<% @title = "Le Tastevin: le site" %>

<p>
  <%= image_tag "/images/wine5-small.jpg", :class => "embedded right" %>
  Le Tastevin vous permet de construire un journal de vos critiques de vin.
</p>

<h2>Le Tastevin: l'outil de d&eacute;gustation</h2>

<p>
  <%= image_tag "/images/tastevin.jpg", :class => "embedded left" %>
  "Petite tasse plate, à bords godronnés ou plats selon les régions, à anse surmontée d'un appui pour le pouce, en métal, servant à examiner le vin et à le goûter. " - <%= link_to "Centre National de Resources Textuelles et Lexicales", "http://www.cnrtl.fr/definition/tastevin" %>
</p>
