<% @title = "Le Tastevin: le site" %>

<p>
  <%= image_tag "/images/red_wine_glass.jpg", :class => "embedded right", :width => "150" %>
  <%= link_to "Le Tastevin", "/" %> est un site web qui vous permet de: 
</p>
<ul>
  <li>consulter les critiques d'un vin</li>
  <li>faire une critique d'un vin</li>
  <li>maintenir un journal de vos critiques de vin</li>
  <li>découvrir de nouveaux vins via des recommendations</li>
</ul>
<br/>
<br/>

<h2>Le Tastevin: l'outil de d&eacute;gustation</h2>

<p>Le tastevin est un outil qui est utilisé pour déguster le vin. Le <%= link_to "Centre National de Resources Textuelles et Lexicales", "http://www.cnrtl.fr/definition/tastevin" %> le définit comme une:</p>

<p>
  <%= image_tag "/images/tastevin.jpg", :class => "embedded left" %>
  "Petite tasse plate, à bords godronnés ou plats selon les régions, à anse surmontée d'un appui pour le pouce, en métal, servant à examiner le vin et à le goûter." 
</p>
