<% @title = "Contact" %>
<div class="bio">
  <div class="picture">
    <%= image_tag "/images/contact/me.jpg", :class => "portrait framed" %>
    <span class="name">Martin Carel</span>
  </div>
  <p class="motivation">Vous avez des commentaires? Des idées que vous aimeriez voir prendre forme sur le site? Ne vous gênez surtout pas: contactez-moi!</p>

  <div class="icons">
    <%= mail_to("contact@le-tastevin.com", image_tag("contact/email.png", :alt => "Email", :title => "Email"), :encode => :javascript) %>
    <%= link_to image_tag("contact/twitter.png", :alt => "Twitter", :title => "Twitter"), "http://www.twitter.com/le_tastevin" %>
  </div>
</div>

<br/>
<br/>
<h2>Une invitation au partage du bon vin</h2>
<div class="motivation">
  <p>La pensée d'un <b>pinot gris alsacien</b> pour l'apéro, fruité et vif, me fait saliver. Ensuite, mon esprit oscille entre un <b>Bourgogne rouge</b> et un <b>Shiraz australien</b> pour accompagner une côte de boeuf bio bien juteuse avec sauce onctueuse aux fines herbes, avec petits légumes du jardin...</p> 
  <p>Et il ne faudrait pas oublier les fromages... où l'on pourra accompagner le chèvre des Alpes savoyardes avec un <b>cidre de glace québecois</b> ou encore un <b>vin de glace ontarien</b>.</p>
  <p>Et il ne faudrait pas oublier le dessert... où l'on pourra continuer la discussion en douceur avec... un thé vert taïwanais :)</p>
  <p>Je suis un amateur de vin (et de tout ce qui l'accompagne) qui souhaite partager le bon vin! Vous voulez partager vos critiques de vin? Ce site est pour nous!</p>
  <p>Bonne dégustation!</p>
  <p>Martin</p>
</div>
