<% @title = "Contact" %>

<div class="bio">
  <div class="picture">
    <%= image_tag "/images/contact/me.jpg", :class => "portrait framed" %>
    <span class="name">Martin Carel</span>
  </div>
  <p class="motivation">La pensée d'un pinot gris alsacien pour l'apéro, fruité et vif, me fait saliver. Mon esprit oscille entre un Bourgogne et un Shiraz australien pour accompagner une côte de boeuf saignante avec sauce onctueuse aux trois poivres. Je suis un amateur de vin, blanc ou rouge.</p>
  <p>Vous voulez partager vos critiques de vin? Ce site est pour nous!</p>
</div>

<br/>
<br/>
<br/>
<p>Vous avez des commentaires? Des idées que vous aimeriez voir prendre forme sur le site?
</p>

<p> Ne vous gêner surtout pas: contactez-moi!</p>

<div class="icons">
  <%= mail_to("contact@le-tastevin.com", image_tag("contact/email.png", :alt => "Email", :title => "Email"), :encode => :javascript) %>
  <%= link_to image_tag("contact/twitter.png", :alt => "Twitter", :title => "Twitter"), "http://www.twitter.com/le_tastevin" %>
</div>
