<% @title = "Contact" %>

<p>Commentaires, requêtes, opportunités d'affaires? Contactez-moi!</p>

<%= image_tag "/images/me.jpg", :class => "portrait" %>

<table>
  <tbody>
    <tr>
      <th>Nom</th>
      <td>Martin Carel</td>
    </tr>
    <tr>
      <th>Ville</th>
      <td>Montreal, Qc, Canada</td>
    </tr>
    <tr>
      <th>Courriel</th>
      <td><%= mail_to("martin.carel@gmail.com", "martin.carel @ gmail.com",  :encode => :javascript) %></td>
    </tr>
  </tbody>
</table>
