<% @title = "Contact" %>

<%= image_tag "/images/me.jpg"%>

<p>Nom: Martin Carel</p>
<p>Vile: Montreal, Qc, Canada</p>

<p>Commentaires, requetes, opportunites d'affaires? Contactez-moi!</p>
martin.carel[at]gmail.com
