<% @title = "Contact" %>

<p>Commentaires, requetes, opportunites d'affaires? Contactez-moi!</p>

<%= image_tag "/images/me.jpg", :class => "portrait" %>

<table>
  <tbody>
    <tr>
      <th>Nom:</th>
      <td>Martin Carel</td>
    </tr>
    <tr>
      <th>Ville:</th>
      <td>Montreal, Qc, Canada</td>
    </tr>
    <tr>
      <th>Courriel:</th>
      <td>martin.carel[at]gmail.com</td>
    </tr>
  </tbody>
</table>