<ul id="twitter_feed">
  <% @twitter_feed.entries[0..4].each do |item| %>
    <li>
      <div class="body">
        <div class="content">
          <span><%= item.title.sub('le_tastevin:','') %></span>
        </div>
        <div class="date">
          il y a <%= time_ago_in_words item.pubDate %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
