<ul id="twitter_feed">
  <% @twitter_feed.entries[0..4].each do |item| %>
    <li>
      <div class="body">
        <span class="content">
          <%= link_links item.title.sub('le_tastevin:','') %>
        </span>
      </div>
        <span class="date">
          il y a <%= time_ago_in_words item.pubDate %>
        </span>
    </li>
  <% end %>
</ul>
