<% if logged_in? -%>
  <div id="person-bar-greeting"><%= link_to image_tag('go-home.gif', :class => "icon"), edit_person_url(current_person), { :class => "icon_link", :title => "Compte de #{current_person.email}" } %> <%= link_to image_tag('system-log-out.gif', :class => "icon"), logout_path, { :class => "icon_link", :title => "Quiter la session" } %></div>
<% else -%>
  <div id="person-bar-action"  ><%= link_to "Ouvrir une session",  login_path,  { :title => "Ouvrir une session" } %> /
                               <%= link_to "S'enregistrer", signup_path, { :title => "S'enregistrer" } %></div>
<% end -%>

