<% if logged_in? -%>
  <div id="person-bar-greeting">Session ouverte en tant que <%= link_to current_person.email, edit_person_url(current_person) %></div>
  <div id="person-bar-action"  >(<%= link_to "Quitter", logout_path, { :title => "Quiter" }    %>)</div>
<% else -%>
  <div id="person-bar-greeting">Aucune session ouverte</div>
  <div id="person-bar-action"  ><%= link_to "Ouvrir une session",  login_path,  { :title => "Ouvrir une session" } %> /
                               <%= link_to "S'enregistrer", signup_path, { :title => "S'enregistrer" } %></div>
<% end -%>

