<% @title = "Compte de " + person_display_name(@person) %>

<table class="user_profile">
  <tbody>
    <tr>
      <th>Nom</th>
      <td><%=h @person.name %></td>
    </tr>
    <tr>
      <th>Courriel:</th>
      <td><%= @person.email %></td>
    </tr>
  </tbody>
</table>

<% content_for :sidebar do %>
  <p class="actions"><%= link_to "Mettre à jour", edit_person_path(@person), :title => "Mettre à jour", :class => "button update" %></p>
<% end %>