<% @title = "Profil de " + person_display_name(@person) %>

<table class="user_profile">
  <tbody>
    <tr>
      <th>Nom</th>
      <td><%=h @person.name %></td>
    </tr>
    <% if current_person == @person %>
    <tr>
      <th>Courriel</th>
      <td><%=h @person.email %></td>
    </tr>
  <% end %>
    <tr>
      <th>Description</th>
      <td><%=h @person.description %></td>
    </tr>
  </tbody>
</table>

<% if current_person == @person %>
  <p class="actions"><%= link_to "Mettre à jour", edit_person_path(@person), :title => "Mettre à jour", :class => "button update" %></p>
<% end %>
