/* Available Colours */
/*
  Source: http://www.colourlovers.com/palette/148760/faded_jeans
  Lees:         #274B66
  Share My Sky: #708882
  Desdemona:    #EBDABF
  Millésimé:    #ECCD7C
  New Chianti:  #6D0523
*/

/* CSS Reset */
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,code,
del,dfn,em,img,q,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1.5;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}
img {-ms-interpolation-mode:bicubic;}
*{zoom:1}

/* Clearfix */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}

/* Basic Typography */
body{font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111;}
h1{font-size:3em;line-height:1;margin-bottom:0.5em;}
h2{font-size:2em;margin-bottom:1em;font-weight:bold;}
h3{font-size:1.5em;font-weight:bold;line-height:1;margin-bottom:1em;}
h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h5{font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6{font-size:1em;font-weight:bold;}
h1 img,h2 img,h3 img,
h4 img,h5 img,h6 img{margin:0;}
p{margin:0 0 1.5em;}
a:focus,
a:hover{text-decoration:none;}
a{color:#274B66;text-decoration:underline;outline:none;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
input,textarea,select{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
abbr,
acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre,code{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,
li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em 1.5em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
dl{margin:0 0 1.5em 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}
table{margin-bottom:1.4em;width:100%;}
th{font-weight:bold;background:#ECCD7C;border-bottom:1px solid #B19A5D;vertical-align:bottom;}
th,td{padding:5px;}
td{vertical-align:top;}
tr.even td{background:#FAF3DE;}
tfoot{font-style:italic;}
caption{background:#eee;}
.hide{display:none;}
.quiet{color:#666;font-weight:normal;}
.loud{color:#000;}
.added{background:#060;color:#fff;}
.removed{background:#900;color:#fff;}
.first{margin-left:0;padding-left:0;}
.last{margin-right:0;padding-right:0;}
.top{margin-top:0;padding-top:0;}
.bottom{margin-bottom:0;padding-bottom:0;}

/* More Table Style Rules */
table td.title { font-weight: bold; }
table td.actions { white-space: nowrap; }
table td.actions a { display: inline-block; height: 16px; width: 16px; text-indent: -9000px; }
table td.actions a.comments { background: url('../images/icons/balloons.png'); }
table td.actions a.update { background: url('../images/icons/pencil.png'); }
table td.actions a.remove { background: url('../images/icons/minus-circle.png'); }
table p { margin-bottom: 10px; }

/* Layout */
div.page_width { width: 950px; margin: 0 auto; position: relative; overflow: hidden; }
#content { overflow: hidden; min-height: 350px; background: url('../images/sidebar_bg.gif') repeat-y 630px top; }
#main { float: left; width: 610px; padding-top: 20px; }
#sidebar { float: right; width: 300px; padding: 20px 0 0 20px; }

/* Masthead */
#masthead { overflow: hidden; background: #52041a url('../images/masthead_bg.png') repeat-x left bottom; padding: 20px 0; }
#masthead h1 { margin-right: 20px; margin: 0; display: inline; }
#masthead h1 a { color: #FFFFFF; font-weight: bold; font-size: 24px; text-decoration: none; }
#masthead p { color: #B68291; font-size: 16px; margin: 0 0 10px; }
#masthead #nav { float: left; overflow: hidden; margin: 0; }
#masthead #nav li { float: left; display: block; margin-right: 10px; list-style: none; }
#masthead #nav li a { line-height: 1; padding: 5px 10px; text-decoration: none; display: block; background: #6D0523; font-size: 14px; color: #FFFFFF; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#masthead #nav li a:hover { background: #92445A; color: #FFFFFF; }
#masthead #nav li.current a { background: #FAF3DE; color: #8D3739; }
#masthead #utilities { margin: 0; position: absolute; top: 0; right: 0; }
#masthead #utilities li { float: left; list-style: none; display: block; margin-left: 5px; padding-right: 5px; border-right: 1px solid #8D3739; }
#masthead #utilities li.last { padding-right: 0; border: none; }
#masthead #utilities li a { line-height: 1; color: #FFFFFF; font-size: 12px; }
#masthead #search { position: absolute; right: 0; bottom: 0; }
#masthead #search input[type="text"] { float: left; border: 1px solid #ECCD7C; font-size: 14px; width: 250px; }
#masthead #search input[type="submit"] { float: right; top: 0; margin: 0 0 0 5px; }

/* Footer */
#footer { overflow: hidden; margin: 50px auto; font-size: 12px; }
#footer ul.nav { float: left; margin: 0; }
#footer ul.nav li { float: left; display: block; margin-right: 5px; padding-right: 5px; border-right: 1px solid #C0C0C0; }
#footer ul.nav li.last { margin-right: 0; padding-right: 0; border-right: none; }
#footer p.legal { float: right; color: #808080; margin: 0; }

/* Form Elements */
input[type="submit"] { background: #274B66; color: #FFFFFF; font-size: 14px; border: 1px solid #1D384D; border-top-color: #5D788C; border-left-color: #5D788C; line-height: 1; padding: 0 8px 6px; height: 28px; text-decoration: none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
a.button { background: #274B66; color: #FFFFFF; display: inline-block; font-size: 14px; padding: 0 8px; border: 1px solid #1D384D; border-top-color: #5D788C; border-left-color: #5D788C; padding: 0 8px; line-height: 23px; height: 24px; text-decoration: none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
a.button.reviews { background-image: url('../images/icons/ballons.png'); background-position: 10px center; background-repeat: no-repeat; padding-left: 31px; }
input[type="text"],
input[type="password"] { border: 1px solid #C0C0C0; height: 22px; font-size: 14px; padding: 3px 20px 0 3px; }
textarea { border: 1px solid #C0C0C0; padding: 3px; font-size: 14px; }
label { line-height: 25px; text-align: right; color: #404040; font-size: 14px; display: block; float: left; margin-right: 5px; }
form.lw40 label { width: 40px; }
form.lw40 p.indent { margin-left: 45px; }
form.lw80 label { width: 90px; }
form.lw80 p.indent { margin-left: 95px; margin-top: 30px }
form.lw120 label { width: 120px; }
form.lw120 p.indent { margin-left: 125px; }
form.lw160 label { width: 160px; }
form.lw160 p.indent { margin-left: 165px; }
form.lw200 label { width: 200px; }
form.lw200 p.indent { margin-left: 205px; }
form.lw240 label { width: 240px; }
form.lw240 p.indent { margin-left: 245px; }
form p { margin-bottom: 0.75em; }
form p.submit { margin-bottom: 0; }
form p.choice label { display: inline; float: none; line-height: normal; }
form select { border: 1px solid #C0C0C0; font-size: 14px; height: 27px; padding-top: 2px }
form select.multi { height: auto; }

/* Sidebar Elements */
p.actions a.button { font-size: 16px; font-weight: bold; padding: 10px 15px 10px 36px; line-height: 1; background-repeat: no-repeat; background-position: 15px center; line-height: 1; height: auto; }
p.actions a.button.add { background-image: url('../images/icons/plus-circle.png'); }
p.actions a.button.reviews { background-image: url('../images/icons/balloons.png'); }
p.actions a.button.update { background-image: url('../images/icons/pencil.png'); }

/* Flash Notices */
p.flash { padding: 10px 10px 10px 31px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
p.flash.notice { background: #E2E4F6 url('../images/icons/information.png') no-repeat 10px center; }
p.flash.error { background: #F6E0E1 url('../images/icons/exclamation-red.png') no-repeat 10px center; }

/* Wine Profile */
div.wine_profile { overflow: hidden; margin: 0 0 1.5em; }
div.wine_profile img.bottle { float: left; display: block; width: 100px; }
div.wine_profile table { width: auto; }
div.wine_profile table * { font-size: 14px; margin: 0 0 0 110px; }
div.wine_profile table th,
div.wine_profile table td { padding: 0 10px 5px 0; }
div.wine_profile table th { background: none; text-align: right; white-space: nowrap; border: none; width: 1%; }

/* User Profile */
table.user_profile { width: auto; }
table.user_profile * { font-size: 14px; margin: 0 0 0 110px; }
table.user_profile th,
table.user_profile td { padding: 0 10px 5px 0; }
table.user_profile th { background: none; text-align: right; white-space: nowrap; border: none; width: 1%; }
