/* Available Colours */
/*
  Source: http://www.colourlovers.com/palette/148760/faded_jeans
  Lees::        #274B66
  Share My Sky: #708882
  Desdemona:    #EBDABF
  Millésimé:    #ECCD7C
  New Chianti:  #6D0523
*/

/* CSS Reset */
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,code,
del,dfn,em,img,q,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1.5;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}
img {-ms-interpolation-mode:bicubic;}
*{zoom:1}

/* Clearfix */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}

/* Basic Typography */
body{font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111;}
h1{font-size:3em;line-height:1;margin-bottom:0.5em;}
h2{font-size:2em;margin-bottom:0.75em;}
h3{font-size:1.5em;line-height:1;margin-bottom:1em;}
h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h5{font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6{font-size:1em;font-weight:bold;}
h1 img,h2 img,h3 img,
h4 img,h5 img,h6 img{margin:0;}
p{margin:0 0 1.5em;}
a:focus,
a:hover{text-decoration:none;}
a{color:#274B66;text-decoration:underline;outline:none;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
abbr,
acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre,code{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,
li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em 1.5em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
dl{margin:0 0 1.5em 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}
table{margin-bottom:1.4em;width:100%;}
th{font-weight:bold;background:#C3D9FF;}
th,td{padding:4px 10px 4px 5px;}
tr.even td{background:#E5ECF9;}
tfoot{font-style:italic;}
caption{background:#eee;}
.hide{display:none;}
.quiet{color:#666;font-weight:normal;}
.loud{color:#000;}
.added{background:#060;color:#fff;}
.removed{background:#900;color:#fff;}
.first{margin-left:0;padding-left:0;}
.last{margin-right:0;padding-right:0;}
.top{margin-top:0;padding-top:0;}
.bottom{margin-bottom:0;padding-bottom:0;}

/* Layout */
div.page_width { width: 950px; margin: 0 auto; }
#content { overflow: hidden; margin: 30px auto; }
#main { float: left; width: 620px; }
#sidebar { float: right; width: 310px; }

/* Masthead */
#masthead { overflow: hidden; background: #6D0523; padding: 20px 0; }
#masthead h1 { float: left; margin-right: 20px; }
#masthead h1 a { color: #FFFFFF; font-weight: bold; font-size: 24px; text-decoration: none; }
#masthead #nav { float: left; overflow: hidden; margin: 0; }
#masthead #nav li { float: left; display: block; margin-right: 10px; list-style: none; }
#masthead #nav li a { line-height: 1; padding: 5px 10px; text-decoration: none; display: block; background: #6D0523; font-size: 14px; color: #FFFFFF; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#masthead #nav li a:hover { background: #8D3739; color: #FFFFFF; }
#masthead #nav li.current a { background: #FFFFFF; color: #8D3739; }
#masthead #utilities { float: right; }
#masthead #utilities li { float: left; list-style: none; display: block; margin-left: 5px; padding-right: 5px; border-right: 1px solid #8D3739; }
#masthead #utilities li.last { padding-right: 0; border: none; }
#masthead #utilities li a { line-height: 1; color: #FFFFFF; font-size: 12px; }

/* Footer */
#footer { overflow: hidden; margin: 50px auto; font-size: 12px; }
#footer ul.nav { float: left; margin: 0; }
#footer ul.nav li { float: left; display: block; margin-right: 10px; padding-right: 10px; border-right: 1px solid #808080; }
#footer ul.nav li.last { margin-right: 0; padding-right: 0; border-right: none; }
#footer p.legal { float: right; color: #808080; margin: 0; }

/*

body {
    font-family: Verdana, Arial, sans-serif;
    width: 1024px;
    margin: auto;
    background: #e3e3e3;
}

#top_nav_bar {
    background-image: url(/images/red_right.png);
    background-position: right top;
    background-repeat: no-repeat;
    height: 67px;
    margin-right: -12px;
    margin-left: -5px;
    margin-bottom: 10px;
}

#top_nav_bar_overlay {
    background-image: url(/images/red_left.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin-left: -10px;
    height: 52px;
}

#logo {
    color: white;
    margin-right: 50px;
    font-size: large;
    font-weight: bolder;
    margin-left: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#top_menu {
    padding: 20px;
    float: left;
    color: #bbb;
    font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}

#top_menu a {
    color: white;
    font-weight: bold;
    text-decoration: none
}

#top_menu a:hover {
    text-decoration: underline;
    background: none;
}

#top_login_box {
    float: right;
    padding: 20px;
    font-size: 11px;
    line-height: 1.36364;
    color: #bbb;
}

#top_login_box a {
    color: white;
    text-decoration: none;
}

#top_login_box a:hover {
    color: white;
    text-decoration: underline;
}

#container {
    background-color: white;
    border: 1px solid #bbb;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.logo {
    vertical-align: text-top;
}

.flag {
    margin: 5px;
    vertical-align: text-top;
}

#contents {
    margin-top: 40px;
}

#footer {
    margin-top: 30px;
    text-align: center;
}

#subfooter {
    font-size: smaller;
}

.icon {
    margin: 5px;
    vertical-align: middle;
    border: 0;
}

a.icon_link:hover {
    text-decoration: none;
    background-color: transparent;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px dashed;
}

.add_item {
    # background-color:red;
}

#wine_for_review {
    margin-bottom: 50px;
}

.table_container {
    # background-color:black;
}

th {
    background-color: #eee;
    padding-bottom: 10px;
    padding-left: 10px;
}

td {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-left: 0px;
    border-right: 0px;
    padding: 7px;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid #d0d0d0;
    border-top: 2px solid #d0d0d0;
    border-left: 0px;
    border-right: 0px;
    padding: 8px;
}

tr.odd {
    background-color: #f5f5f5;
}

tr.even {
    background-color: #e4eafb;
}

*/