/* Available Colours */
/*
  Source: http://www.colourlovers.com/palette/148760/faded_jeans
  Lees:         #274B66
  Share My Sky: #708882
  Desdemona:    #EBDABF
  Millésimé:    #ECCD7C
  New Chianti:  #6D0523
*/
/*
  Source: http://www.colourlovers.com/palette/334133/Wine_with_Italian...
  cranberry glass: #73253C
  I love this one: #341027
  Yeah, it's nude: #C0A47F
  Old Trees:       #414A37
  vanilla cream:   #EBE0CA
*/



/* CSS Reset */
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,code,
del,dfn,em,img,q,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1.5;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}
img {-ms-interpolation-mode:bicubic;}
*{zoom:1}

/* Clearfix */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}

/* Basic Typography */
body{font-size:75%;color:#222;background:#341027;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111;}
h1{font-size:3em;line-height:1;margin-bottom:0.5em;}
h2{font-size:2em;margin-bottom:1em;font-weight:bold;}
h2.l2 {margin-top:2em}
h3{font-size:1.5em;font-weight:bold;line-height:1;margin-bottom:1em;}
h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h5{font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6{font-size:1em;font-weight:bold;}
h1 img,h2 img,h3 img,
h4 img,h5 img,h6 img{margin:0;}
p{margin:0 0 1.5em;}
a:focus,
a:hover{text-decoration:none;}
a{color:#274B66;text-decoration:underline;outline:none;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
input,textarea,select{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
abbr,
acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em;font-style:italic;}
del{color:#666;}
pre,code{margin:1.5em 0;white-space:pre;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
li ul,
li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em 1.5em;}
ul{list-style-type:disc;}
ol{list-style-type:decimal; font-weight: bold;}
dl{margin:0 0 1.5em 0;}
dl dt{font-weight:bold;}
dd{margin-left:1.5em;}
table{margin-bottom:1.4em;width:100%;}
th{font-weight:bold;background:#EBE0CA;border-bottom:1px solid #D3C9B5;vertical-align:bottom;}
th,td{padding:5px;}
th,td{vertical-align:top;}
tr.even td{background:#FAF7F2;}
tfoot{font-style:italic;}
caption{background:#eee;}
.hide{display:none;}
.quiet{color:#666;font-weight:normal;}
.loud{color:#000;}
.added{background:#060;color:#fff;}
.removed{background:#900;color:#fff;}
.first{margin-left:0;padding-left:0;}
.last{margin-right:0;padding-right:0;}
.top{margin-top:0;padding-top:0;}
.bottom{margin-bottom:0;padding-bottom:0;}

/* More Table Style Rules */
table td.title { font-weight: bold; }
table td.rating { padding-top: 8px; }
table td.actions { white-space: nowrap; }
table td.actions a { display: inline-block; height: 16px; width: 16px; text-indent: -9000px; filter: alpha(opacity=66); opacity: 0.66; -moz-opacity: 0.66; }
table td.actions a:hover { filter: alpha(opacity=100); opacity: 1; -moz-opacity: 1; }
table td.actions a.comments { background: url('../images/icons/comment.png'); }
table td.actions a.update { background: url('../images/icons/shape_square_edit.png'); }
table td.actions a.remove { background: url('../images/icons/minus-circle.png'); }
table p { margin-bottom: 10px; }
table tfoot td { border-top: 1px solid #C0C0C0; background: #F0F0F0; font-style: normal; text-align: right; }
table tfoot td div.pagination span,
table tfoot td div.pagination a { display: inline-block; line-height: 1; padding: 3px 5px; background: #FFFFFF; text-decoration: none; }
table tfoot td div.pagination span { border: 1px solid #C0C0C0; }
table tfoot td div.pagination a { border: 1px solid #8C9EAB; }
table tfoot td div.pagination a:hover { border: 1px solid #274B66; }
table tfoot td div.pagination .prev_page,
table tfoot td div.pagination .next_page { font-weight: bold; }

/* Layout */
div.page_width { width: 950px; margin: 0 auto; position: relative; overflow: hidden; }
#content { background: #FFFFFF; border-top: 3px solid #E0E0E0; }
#content div.page_width { overflow: hidden; min-height: 350px; background: url('../images/sidebar_bg.gif') repeat-y 630px top; }
#main { float: left; width: 610px; padding: 20px 0 40px; }
#sidebar { float: right; width: 300px; padding: 20px 0 0 20px; overflow: hidden; }

/* Masthead */
#masthead { overflow: hidden; background: #341027; height: 60px; position: relative; }
#masthead > * { position: relative; z-index: 2; }
#masthead #site_id { float: left; padding: 12px 20px 0 0; height: 48px; border-right: 1px solid #48283D; }
#masthead #site_id img { float: left; height: 36px; }
#masthead #site_id h1 { margin: 0; padding: 0; margin: 0 0 0 40px; }
#masthead #site_id h1 a { color: #FFFFFF; font-weight: bold; font-size: 18px; text-decoration: none; white-space: nowrap; }
#masthead #site_id p { color: #9A8893; font-size: 12px; margin: 0 0 0 40px; white-space: nowrap; }
#masthead #nav { float: left; overflow: hidden; margin: 0; }
#masthead #nav li { float: left; display: block; list-style: none; border-right: 1px solid #48283D; }
#masthead #nav li a { line-height: 60px; padding: 0 20px; text-decoration: none; display: block; font-size: 13px; color: #9A8893; font-weight: bold; overflow: hidden; position: relative; -webkit-text-shadow: 1px 1px 1px #000000; -moz-text-shadow: 1px 1px 1px #000000; }
#masthead #nav li a:hover { color: #FFFFFF; }
#masthead #nav li.current a { color: #8D3739; }
#masthead #nav li a:hover:before { display: block; }
#masthead #nav li a:before { display: none; position: absolute; bottom: -50%; left: 15%; right: 15%; height: 50%; background: #ffffff; content: ""; box-shadow: 0 0 80px #8A495D; -moz-box-shadow: 0 0 80px #8A495D; -webkit-box-shadow: 0 0 80px #8A495D; z-index: 1; }
#masthead #search { float: right; padding: 16px 20px; border-right: 1px solid #48283D; }
#masthead #search input[type="text"] { float: left; border: 1px solid #9A8893; font-size: 13px; width: 200px; }
#masthead #search input[type="submit"] { float: left; margin: 0 0 0 5px; background-image: url('../images/icons/magnifier.png'); background-repeat: no-repeat; background-position: center center; width: 28px; text-align: center; }
#masthead #utilities { margin: 0; float: right; }
#masthead #utilities li { float: left; list-style: none; display: block; margin: 0 0 0 15px; }
#masthead #utilities li a { line-height: 60px; color: #9A8893; font-size: 13px; text-decoration: none; }
#masthead #utilities li a:hover { text-decoration: underline; color: #FFF; }

/* Page Titles */
#reviews_controller.user_reviews_index h2.page_title { background: url('../images/icons/page_edit.png') no-repeat left center; padding-left: 25px; }
#people_controller h2.page_title { background: url('../images/icons/user.png') no-repeat left center; padding-left: 25px; }
#people_controller h2.second_page_title { background: url('../images/icons/comments.png') no-repeat left center; padding-left: 25px; margin-top: 25px;}
#wines_controller.search h2.page_title { background: url('../images/icons/table_multiple.png') no-repeat left center; padding-left: 25px; }
#contents_controller.contact h2.page_title { background: url('../images/icons/user_suit.png') no-repeat left center; padding-left: 25px; }
#contents_controller.wine_news h2.page_title { background:url("../images/icons/newspaper.png") no-repeat scroll left center transparent; padding-left:25px;}
#contents_controller.ratings_help h2.page_title { background:url("../images/icons/layout_edit.png") no-repeat scroll left center transparent; padding-left:25px;}
#cellar_wines_controller.index h2.page_title { background:url("../images/icons/door.png") no-repeat scroll left center transparent; padding-left:25px;}

/* Footer */
#footer { overflow: hidden; margin: 0 auto; font-size: 12px; position: relative; }
#footer:before { display: block; position: absolute; top: -50%; left: -15%; right: -15%; height: 50%; background: #ffffff; content: ""; box-shadow: 0 0 80px #000; -moz-box-shadow: 0 0 80px #000; -webkit-box-shadow: 0 0 80px #000; z-index: 1; }
#footer div.page_width { padding: 40px; position: relative; }
#footer a { color: #9A8893; }
#footer a:hover { color: #FFF; }
#footer ul.nav { float: left; margin: 0; }
#footer ul.nav li { float: left; display: block; margin: 0 15px 0 0; }
#footer ul.nav li.last { margin-right: 0; padding-right: 0; border-right: none; }
#footer p.legal { float: right; color: #9A8893; margin: 0; }

/* Form Elements */
input[type="submit"] { background: #274B66; color: #FFFFFF; font-size: 14px; border: 1px solid #1D384D; border-top-color: #5D788C; border-left-color: #5D788C; line-height: 1; padding: 0 8px 6px; height: 28px; text-decoration: none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 1px 1px 1px #142633; -webkit-text-shadow: 1px 1px 1px #142633; -moz-text-shadow: 1px 1px 1px #142633; }
input[type="submit"]:hover { cursor: pointer; background: #3B5B74; }
input[type="submit"]:active { cursor: pointer; background: #3B5B74; border: 1px solid #5D788C; border-top-color: #1D384D; border-left-color: #1D384D; }
a.button { background: #274B66; color: #FFFFFF; display: inline-block; font-size: 14px; padding: 0 8px; border: 1px solid #1D384D; border-top-color: #5D788C; border-left-color: #5D788C; padding: 0 8px; line-height: 23px; height: 24px; text-decoration: none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 1px 1px 1px #142633; -webkit-text-shadow: 1px 1px 1px #142633; -moz-text-shadow: 1px 1px 1px #142633; }
a.button:hover { background: #3B5B74; }
a.button:active { background: #3B5B74; border: 1px solid #5D788C; border-top-color: #1D384D; border-left-color: #1D384D; }
a.button.reviews { background-image: url('../images/icons/page_edit.png'); background-position: 10px center; background-repeat: no-repeat; padding-left: 31px; }
a.button.cellar { background-image: url('../images/icons/door.png'); background-position: 10px center; background-repeat: no-repeat; padding-left: 31px; }
a.button.add { background-image: url('../images/icons/add.png'); background-position: 10px center; background-repeat: no-repeat; padding-left: 31px; }
a.button.save { background-image: url('../images/icons/disk.png'); background-position: 10px center; background-repeat: no-repeat; padding-left: 31px; }
input[type="text"],
input[type="password"] { border: 1px solid #C0C0C0; height: 25px; font-size: 14px; padding: 0 20px 0 3px; }
/*input[type="text"].search { background-image: url('../images/icons/magnifier.png'); background-repeat: no-repeat; background-position: 5px center; padding-left: 26px; }
*/textarea { border: 1px solid #C0C0C0; padding: 3px; font-size: 14px; }
label { line-height: 25px; text-align: right; color: #404040; font-size: 14px; font-weight: bold; display: block; float: left; margin-right: 5px; }
form.lw40 label { width: 40px; }
form.lw40 p.indent { margin-left: 45px; }
form.lw80 label { width: 90px; }
form.lw80 p.indent { margin-left: 95px; }
form.lw120 label { width: 120px; }
form.lw120 p.indent { margin-left: 125px; }
form.lw160 label { width: 160px; }
form.lw160 p.indent { margin-left: 165px; }
form.lw220 label { width: 220px; }
form.lw220 p.indent { margin-left: 225px; }
form.lw240 label { width: 240px; }
form.lw240 p.indent { margin-left: 245px; }
form p,
form div.complex_field { margin-bottom: 0.75em; font-size: 14px; }
form p.submit { margin-bottom: 0; margin-top: 1.5em; }
form p.choice label { display: inline; float: none; line-height: normal; }
form select { border: 1px solid #C0C0C0; font-size: 14px; height: 27px; padding-top: 2px }
form select.multi { height: auto; }
.is_blank { color: #C0C0C0; }
.inplace_field {display: block; clear: both;}
.inplace_save {font-size: 8px;}
.inplace_cancel {font-size: 8px;}
th.note {width: 220px}


/* Sidebar Elements */
p.actions a.button { font-size: 16px; font-weight: bold; padding: 10px 15px 10px 36px; line-height: 1; background-repeat: no-repeat; background-position: 15px center; line-height: 1; height: auto; }
p.actions a.button.add { background-image: url('../images/icons/plus-circle.png'); }
p.actions a.button.reviews { background-image: url('../images/icons/page_edit.png'); }
p.actions a.button.update { background-image: url('../images/icons/shape_square_edit.png'); }

/* Flash Notices */
p.flash, p.text { padding: 10px 10px 10px 35px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
p.flash.notice, p.text { background: #E2E4F6 url('../images/icons/information.png') no-repeat 10px center; }
p.flash.error { background: #F6E0E1 url('../images/icons/exclamation-red.png') no-repeat 10px center; }

/* Help messages */
p.text { margin-bottom: 20px;}

/* Typography for Content Pages */
#contents_controller #content #main p,
#contents_controller #content #main li,
#contents_controller #content #main dt,
#contents_controller #content #main dd { font-size: 14px; }
#contents_controller #content #main ol,
#contents_controller #content #main ul { margin: 0 0 1.5em 3em; }
#contents_controller #content #main ol { list-style: decimal; }
#contents_controller #content #main li { list-style: disc; }
#contents_controller #content #main p.img.embedded { margin-bottom: 20px; }
#contents_controller #content #main p img.embedded.right { float: right; margin-left: 20px; }
#contents_controller #content #main p img.embedded.left { float: left; margin-right: 20px; }
#contents_controller.contact #content .bio .picture { float: left; width: 100px; text-align: center; }
#contents_controller.contact #content .bio .portrait { float: left; width: 100px; }
#contents_controller.contact #content .bio span.name {float:right; font-weight: bold; padding: 5px; font-size: 14px;}
#contents_controller.contact #content table { width: auto; margin-left: 100px; }
#contents_controller.contact #content table th { font-weight: bold; border: none; font-size: 14px; background: none; text-align: right; color: #404040; padding: 0 10px 10px 0; white-space: nowrap; }
#contents_controller.contact #content table td { font-size: 14px; color: #000000; padding: 0 0 10px; }
#contents_controller #content #main a.title {font-size: 14px; font-weight: bold;}
#contents_controller #content #main div.date {font-size: 12px; color: #808080;}
#contents_controller #content #main p.description {font-size: 12px; margin-top: 5px; margin-bottom: 20px;}

img.framed {padding: 2px; border: 1px solid #c0c0c0; }
img.splash {margin: 2px; }
.bio p {margin-left: 130px;}
.bio p.motivation {font-size: 14px; text-align: justify}
.bio .title {font-size: 16px; font-weight: bold;}

/* Wine Listings */
table.wines td.wine span.bottle { float: left; display: block; width: 40px; height: 40px; overflow: hidden; margin-right: 5px; }
table.wines td.wine span.bottle img { width: 100%; position: relative; }
table.wines td.wine a.name { font-weight: bold; display: block; margin-left: 40px; }
table.wines td.wine small { font-size: 11px; color: #808080; display: block; margin: 1px 0 0 45px; }
table.wines td.country { padding-top: 8px; }
table.wines th.wine { padding-left: 50px; }
table.wines th.country,
table.wines td.country,
table.wines th.provider,
table.wines td.provider,
table.wines th.date,
table.wines td.date,
table.wines td.year,
table.wines th.year { text-align: center; }

/* Reviews Listings */
table.reviews td.wine a.name { font-weight: bold; display: block; }
table.reviews td.wine small { font-size: 11px; color: #808080; display: block; margin: 1px 0 0px 0px; }
table.reviews th {text-align: center;}
td.nowrap {white-space: nowrap;}

/* Wine Profile */
div.wine_profile { overflow: hidden; margin: 0 0 20px; }
div.wine_profile div.bottle { float: left; display: block; background: url("../images/bottle_image_shadow_bg.gif") no-repeat left bottom; padding: 0 0 10px; }
div.wine_profile div.bottle img { width: 100px; background: #FFF; padding: 9px; border: 1px solid #E0E0E0; border-bottom: 1px solid #C0C0C0; }
div.wine_profile table { width: auto; margin: 0 0 0 140px; }
div.wine_profile table * { font-size: 14px; }
div.wine_profile table th,
div.wine_profile table td { padding: 0 10px 2px 0; }
div.wine_profile table th { background: none; text-align: right; white-space: nowrap; border: none; width: 1%; }
.wine_actions { float: right; }
.wine_actions .action { display: block; margin: 0 0 10px; }
.wine_actions .add{ vertical-align: middle; }

/* User Profile */
table.user_profile { width: auto; }
table.user_profile * { font-size: 14px; margin: 0 0 0 110px; }
table.user_profile th,
table.user_profile td { padding: 0 10px 5px 0; }
table.user_profile th { background: none; text-align: right; white-space: nowrap; border: none; width: 1%; }

/* Contact page */
div.icons img {margin-right: 20px;}

/* Activity Stream */
table.activity_stream tr { border-bottom: 1px solid #F0F0F0; }
table.activity_stream td { padding: 13px 0; }
table.activity_stream td.wine span.bottle { float: left; display: block; width: 40px; height: 40px; overflow: hidden; margin: 5px 0 0 0; }
table.activity_stream td.wine span.bottle img { width: 100%; position: relative; }
table.activity_stream td.wine span.rating { margin: 3px 0 3px 45px; display: block; }
table.activity_stream td.wine a.name { font-weight: bold; display: block; margin-left: 45px; }
table.activity_stream td.wine small { font-size: 11px; color: #808080; display: block; margin: 1px 0 0 45px; }

table.activity_stream td.post a.title { display: block; margin: 0 0 0 110px; }
table.activity_stream td.post span.date { display: block; margin: 3px 0 0 110px; color: #808080; }
table.activity_stream td.post span.description { display: block; margin: 3px 0 0 110px; }
table.activity_stream td.post div.icon { float: left; height: 100px; width: 100px; text-align: center; position: relative; margin-top: 5px; }
table.activity_stream td.post div.icon img { }

/* Star Ratings */
ul.star_rating { display: inline-block; width: 80px; height: 16px; margin: 3px 0 0 0; padding: 0; position: relative; background: url('../images/star_rating_bg.png') repeat-x left top; }
ul.star_rating li { padding: 0; margin: 0; float: left; list-style: none; }
ul.star_rating li a { display: block; width: 16px; height: 16px; text-decoration: none; text-indent: -9000px; z-index: 20; position: absolute; padding: 0; background-image: none; }
ul.star_rating li a:hover,
ul.star_rating li.current a { background: url('../images/star_rating_bg.png') left bottom; z-index: 1; }
ul.star_rating li.stars_1 a { left: 0; }
ul.star_rating li.stars_1 a:hover,
ul.star_rating li.stars_1.current a { width: 16px; }
ul.star_rating li.stars_2 a { left: 16px; }
ul.star_rating li.stars_2 a:hover,
ul.star_rating li.stars_2.current a { width: 32px; left: 0; }
ul.star_rating li.stars_3 a { left: 32px; }
ul.star_rating li.stars_3 a:hover,
ul.star_rating li.stars_3.current a { width: 48px; left: 0; }
ul.star_rating li.stars_4 a { left: 48px; }
ul.star_rating li.stars_4 a:hover,
ul.star_rating li.stars_4.current a { width: 64px; left: 0; }
ul.star_rating li.stars_5 a { left: 64px; }
ul.star_rating li.stars_5 a:hover,
ul.star_rating li.stars_5.current a { width: 80px; left: 0; }

/* Sidebar Panels */
#sidebar div.panel { margin: 0em 0 2em; }
#sidebar div.panel div.header { padding: 10px 10px; line-height: 1; background: #341027; border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; margin: 0; position: relative; }
#sidebar div.panel div.header:before { display: block; content: ""; height: 50%; background: url('../images/transparent_background_colors/white_15.png'); position: absolute; top: 0; left: 0; right: 0; }
#sidebar div.panel div.header h3 { margin: 0; color: #FFFFFF; font-size: 16px; text-shadow: 1px 1px 1px #808080; -webkit-text-shadow: 1px 1px 1px #808080; -moz-text-shadow: 1px 1px 1px #808080; }
#sidebar div.panel div.content { padding: 10px; border-bottom: 1px solid #c0c0c0; border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-left: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0; }
#sidebar div.panel ol { margin-bottom: 0; }
#sidebar #sidebar_wines h3,
#sidebar #sidebar_reviews h3 { padding-left: 21px; background-image: url('../images/icons/rosette.png'); background-position: left center; background-repeat: no-repeat; }
#sidebar div.panel small { font-size: 11px; font-weight: normal; color: #808080; display: block; }
#sidebar li{margin-top: 5px; margin-bottom: 5px;}

/* Error Explanation */
#errorExplanation { color: black; padding: 10px 10px 10px 31px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin: 0 0 20px; background: #C00000 url('../images/icons/exclamation.png') no-repeat 10px 10px; }
#errorExplanation h2 { font-size: 14px; margin: 0 0 5px; color: #FFFFFF; line-height: 1; }
#errorExplanation p { font-size: 12px; margin-bottom: 5px; color: black; color: #FFFFFF; }
#errorExplanation ul { margin-left: 20px; color: #FFFFFF; margin-bottom: 5px; }
#errorExplanation ul li { font-size: 12px; }

/* Field with Errors */
div.fieldWithErrors input[type="text"],
div.fieldWithErrors input[type="password"],
div.fieldWithErrors select,
div.fieldWithErrors textarea { border: 1px solid #FF0000; }
div.fieldWithErrors input[type="radio"]
div.fieldWithErrors input[type="checkbox"] { background: #FF0000; }

/* Tooltip */
a.toggle_tooltip { margin-left: 20px; cursor: help; }
