<h1>Editing variety</h1>

<% form_for(@variety) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @variety %> |
<%= link_to 'Back', varieties_path %>
