<p>
    <%= f.label :rating_id %><br>
    <%= f.collection_select :rating_id,
    Rating.find(:all), :id, :name %>
</p>
<p>
    <label for="review_comment">
        Comment:
    </label><br>
    <%= f.text_area :comment, :cols => 100, :rows => 5 %>
</p>
