<% @title = h(@wine.name) %>

<%= render :partial => "wines/wine_profile" %>
<h3>Mise à jour de la critique</h3>

<%= error_messages_for :review %>
<% form_for :review, :url => object_url, :html => { :method => :put, :class => "lw80" } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="indent submit">
    <%= submit_tag "Sauvegarder" %>
  </p>
<% end %>
