<% @title = "Vin: #{h @wine.name}" %>

<%= render :partial => "wines/wine_profile" %>
<h3>Écrire une critique</h3>

<%= error_messages_for :review %>
<% form_for :review, :url => wine_reviews_url(@wine), :html => { :class => "lw80" } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="indent submit">
    <%= submit_tag "Ajouter" %>
  </p>
<% end %>
