<%= render :partial => 'reviews/parent_wine'%>
<h1><%=image_tag 'reviews.gif', :class=>'icon' %>Critique</h1>
<p>
  <strong>Rating:</strong> <%=h @review.rating.name %>
</p>
<p>
  <strong>Comment:</strong> <%=h @review.comment %>
</p>
