<div class="wine_actions">
  <span class="action">
  <%= link_to "Écrire une critique", new_wine_review_url(params[:wine_id]), :title => "Écrire une critique", :class => "button reviews" %>
</span>
<span class="action cellar_results">
  <%= link_to "Ajouter au cellier", "#", :title => "Ajouter au cellier", :class => "button cellar" %>
  <%= image_tag 'loading.gif', :class => 'ajax_loading', :style => "display: none" %>
  <script type="text/javascript">
    $(".ajax_loading").ajaxStart(function(){
        $(this).show();
    });
    $(".ajax_loading").ajaxStop(function(){
        $(this).hide();
    }); 
    $(".wine_actions .cellar_results").click(function() {
        $.ajax({
          url: "<%= person_cellars_url(current_person, :wine_id => @wine.id) %>",
          type: 'post',
          success: function(data) {
            $(".wine_actions .cellar_results").html(data);
          }
        });
    });
  </script>
</span>
</div>
