<h1><%=image_tag 'star.gif', :class=>'icon' %>Ajout d'un vin</h1>
<%= error_messages_for :wine %>
<% form_for(:wine, :url => wines_url) do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<%= f.submit "Ajouter" %>
<% end %>
<p>
</p>
