<% @title = "Ajout d'un vin" %>

<%= error_messages_for :wine %>

<% form_for :wine, :url => wines_url, :html => { :class => "lw80" } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="indent submit"><%= f.submit "Ajouter" %></p>
<% end %>