<div id="footer">
  <ul class="nav">
    <li><%= link_to "A propos", "", :title => "A propos" %></li>
    <li><%= link_to "Contact", "", :title => "Contact" %></li>
  </ul>
  <p class="legal">&copy; certains droits r&eacute;serv&eacute;s 2009</p>
</div>