<div id="footer">
  <div class="page_width">
    <ul class="nav">
      <li><%= link_to "A propos", about_url, :title => "A propos" %></li>
      <li><%= link_to "Signification des cotes", ratings_help_url, :title => "Signification des cotes" %></li>
      <li><%= link_to "Nouvelles du monde du vin", nouvelles_url, :title => "Nouvelles du monde du vin" %></li>
      <li class="last"><%= link_to "Contact", contact_url, :title => "Contact" %></li>
    </ul>
    <p class="legal">Le Tastevin &copy; Certains droits r&eacute;serv&eacute;s 2009</p>
  </div>
</div>
