<div id="footer" class="page_width">
  <ul class="nav">
    <li><%= link_to "A propos", about_url, :title => "A propos" %></li>
    <li class="last"><%= link_to "Contact", contact_url, :title => "Contact" %></li>
  </ul>
  <p class="legal">Le Picoleur &copy; Certains droits r&eacute;serv&eacute;s 2009</p>
</div>
