<div id="sidebar_wines" class="panel">
  <div class="header">
    <h3>Top des vins</h3>
  </div>
  <div class="content">
    <ol>
      <% @top_wines.andand.each do |wine| %>
        <li>
          <%= link_to content_tag(:strong, wine_full_name(wine)), wine_reviews_path(wine), :title => wine.name %>
          <small><%= pluralize(wine.review_count, 'critique') %></small>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<div id="sidebar_reviews" class="panel">
  <div class="header">
    <h3>Top contributeurs</h3>
  </div>
  <div class="content">
    <ol>
      <% @top_contributers.andand.each do |review| %>
        <li>
          <%= link_to content_tag(:strong, person_display_name(review.person)), person_url(review.person), :title => review.name %>
          <small><%= pluralize(review.review_count, 'critique') %></small>
        </li>
      <% end %>
    </ol>
  </div>
</div>

